html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
}

a {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #262626;
        color: #adaeb8;
    }
}