{% extends "base.html" %}
{% load static %}


{% block extrahead %}
    <link rel="stylesheet" href="{% static 'index_style.css' %}">
{% endblock %}


{% block nav-home %}
    <a class="nav-active" href="#">Home</a>
{% endblock %}


{% block content %}
    <div class="title">
        <h1>Welcome to my site!</h1>
        <p>"First time I'm doing something interesting with my codding knowledge in two years."</p>
    </div>

    <div class="container">
        <p>Check out my blog! (The only thing you can do for now)</p>
        <a href={% url 'blog' %}><p>To the blog</p></a>
    </div>
{% endblock %}
