.content {
    display: flex;
    flex-flow: wrap-reverse;
}

.container {
    padding: 1px 2%;
    width: 61%;

    display: flex;
    flex-flow: column;
}

.navigation {
    width: 35%;
}

@media (max-width: 992px) {
    .container {
        padding: 1px 1%;
        width: 98%;
     }

    .navigation {
        width: 100%;
    }
}